/* Bookmarks Bar */
#PersonalToolbar {
    height: 40px !important;
}

#PersonalToolbar .toolbarbutton-1 {
    width: 36px !important;
}

/* Sidebery */

#main-window #TabsToolbar {
    height: 42px !important;
    overflow: hidden;
    transition: height .3s .3s !important;
}

#main-window[titlepreface*="[Sidebery]"] #TabsToolbar {
    height: 30px !important;
}

#main-window[titlepreface*="[Sidebery]"] #tabbrowser-tabs {
    visibility: collapse !important;
    z-index: 0 !important;
}

#sidebar-header {
    display: none;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
    position: relative !important;
    overflow: hidden !important;
    min-width: 40px !important;
    max-width: 40px !important;
    transition: all 0.2s ease 400ms !important;
    z-index: 2;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
    transition: all 0.2s ease 0ms !important;
    min-width: 280px !important;
    max-width: 280px !important;
    margin-right: -240px !important; /* 280 - 40 = 240 * -1 = -240*/
    z-index: 1;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

#main-window[inFullscreen] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    position: relative !important;
    overflow: hidden !important;
    min-width: 5px !important;
    max-width: 5px !important;
    transition: all 0.2s ease 400ms !important;
    z-index: 2;
}

#main-window[inFullscreen] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
#main-window[inFullscreen] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
    transition: all 0.2s ease 0ms !important;
    min-width: 280px !important;
    max-width: 280px !important;
    margin-right: -275px !important; /* 280 - 5 = 275 * -1 = -275*/
    z-index: 1;
}